<li class="student-needs-removed">
    <a class="sublist grey-grad" href="{{href}}">
    <h1>
        {{name}}
        <p style="color:{{color}};" class="subject-met"><b>{{met}}</b></p>
        <p style="padding-right:1.75em;white-space:normal;clear:both"><i>{{description}}</i></p>
    </h1>
    </a>
</li>