<li class="student-needs-removed grey-grad">
    <div style="clear:both;">
        <h1 style="max-width:70%!important;" class="left">{{name}}</h1>
        <p style="color:{{color}};max-width:30%!important;" class="right"><b>{{satisfied}}</b></p>
    </div>
   
   <div style="clear:both;display:{{displayForBottomInfo}}">
        <p style="max-width:70%!important;" class="left">Credits: {{credits}}</p>
        <p style="max-width:30%!important;" class="right">Grade: {{grade}}</p>
    </div>
    <p style="padding-right:1.75em;white-space:normal;clear:both;display:{{{displayDescription}}};"><i>{{{description}}}</i></p>
</li>