<li class="library-item">
        
    <img class="ui-li-icon" src="{{imgUrl}}"></img>
    
    <div class="library-item-text">
    
        <h1 style="white-space:normal">
            {{title}}
        </h1>
        
        <p>By {{author}}</p>
        <p>Call number: {{callNumber}}</p>
        <p style="white-space:normal">{{holdings}}</p>
        
    </div>
        
</li>