<div class="student-needs-removed messagePopup" data-role="popup" id="{{id}}" style="font-size:14px!important;margin:0!important;margin-bottom:5em!important;">
        
    <!-- Head --> 
    <div data-role="header" class="blue-button-grad" data-theme="a">
        <h1 style="margin-right:.2em!important;margin-left:.2em!important;font-size:1.3em;">{{name}}</h1>
    </div>

    <!-- Close icon --> 
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    
    <div style="padding-top:1em;padding-bottom:1em;padding-left:2.5em;padding-right:2.5em;">
        <div style="padding:.2em">{{title}}</div>
        <div style="padding:.2em">{{time}}</div>
        <div style="padding:.2em">{{location}}</div>
        <div style="padding:.2em">{{professor}}</div>      
    </div>
</div>