<li>
    <!-- Folder -->
    <a class="grey-grad"  href="#{{bbId}}-{{contentId}}-page">
        <img class="ui-li-icon student-list-icon" src="img/folder.png"/>
        <div class="student-list-text"><h1>{{name}}</h1></div>
        
        <!-- Hidden -->
        <div class="bbId" style="display:none">{{bbId}}</div>
        <div class="contentId" style="display:none">{{contentId}}</div>
    </a>
</li>