<li class="student-needs-removed grey-grad" id="{{id}}">
    <a class="grey-grad" href="#{{bbId}}-page">
        <h1 style="white-space:normal">
            {{courseId}}: {{courseTitle}}
        </h1>
        
        <p style="font-size:.8eem"><span style="float:left;max-width:50%;white-space:normal">{{professor}}</span><span style="max-width:50%;white-space:normal;float:right">Days: {{days}}</span></p>
        <p style="font-size:.8eem"><span style="float:left;max-width:50%;white-space:normal">{{location}}</span><span style="max-width:50%;white-space:normal;float:right">Time: {{time}}</span></p>
    </a>
</li>