<li class="grey-grad library-item">
        
    <img class="ui-li-icon" src="{{imgUrl}}"></img>
    
    <div class="library-item-text">
    
        <h1 style="white-space:normal">
            {{title}}
        </h1>
        
        <p style="white-space:normal">By {{author}}</p>
        <p style="white-space:normal">ISBN: {{isbn}}</p>
        <p style="white-space:normal">Edition: {{edition}}</p>
        
    </div>
        
</li>